body{
    margin: auto;
    padding: auto;
}
.div_main{
  background-color: white;
  border:1px solid #aaaaaa; 
	width:1200px; 
	height:1350px; 
	margin:0 auto;
}

.nav_1{
  width: 300px;
  height: 70px;
  margin: 0 auto;
}
.nav_1 img{
  position: relative;
  margin: 0 auto;
}
.nav_1 input{
  position: relative;
    left: 450px;
    width: 70px;
    height: auto;
    bottom: 50px;
    border: 1px solid rgb(223, 223, 223); 
    background-color: rgb(250,232,245);
}
.nav_2{ /*메뉴바 영역*/
  margin: 0 auto;
  position: relative;
  text-align: center;
  line-height: 40px;
}
.menu1{
  width: 200px;
}
.menu1 a{
  color: purple;
  font-weight: bolder;
}
.sub1{
  position: absolute;
  top: -9999px;
  z-index: 9999;
  width: 158px; /* 테두리 너비 얼추 맞추기 */
  background-color: pink;  
  border: 1px solid purple;
}
.sub1 li{
  position: relative;
}
.sub1 a{
  display: block;
  font-size: 20px;
  line-height: 40px;
  padding-right: 20px;
  margin: 0 auto;
}
.sub1 a:hover{
  color: #ffffff;
  background: pink;
}
.nav_2 li{ /*메뉴바 */
  list-style: none;
  display: inline-block;
  font-size: 20px;
  position: relative;
}
.menu1:hover{/*메뉴바에 마우스 갖다댔을때*/
  background-color: rgb(248, 223, 227);
  z-index: 9999;
}
.menu1:hover .sub1{
  right: 0;
  top: 40px;
}
legend > label{
  border: 1px solid black;
}
.menu1 a{
  text-decoration: none;
}
.main1>img{
  width: 200px;
  height: auto;
  position: relative;
  margin: 0 auto;
  margin-left: 25px;
  border:1px solid #aaaaaa; 
  top: 60px;
}
/*슬라이드*/
.cycle-slideshow{
  top: 50px;
}
/*메인배경*/
.main1{
  position: relative;
  margin: 0 auto;
}
.main1>img:hover{
  box-shadow: 0 0 10px 10px gray;
}

/*푸터*/
.ft1{
  clear: both;
  position: relative;
  width:1200px; 
	height:auto; 
  border:2px solid #aaaaaa; 
  margin: 0 auto;
  right: 2px;
  z-index: -3;
  top: 93px;
}
.nv3 > ul{
  position: relative;
  list-style: none;
  margin: 0 auto;
  top: 20px;
  height: 20px;
  width: 300px;
}
.nv3 > ul >li{
  float: left;
  margin-left: 4.3%;
  font-family: fantasy;
}
.nv3 ul li a{
  text-decoration: none;
}
.nv4 ul{
  position: relative;
  height: 100px;
  top: 50px;
  margin: 0 auto;
}
.nv4 > ul >li{
  position: relative;
  list-style: none;
  float: left;
  width: 20%;
  font-family: fantasy;
  font-size: 10px;
  
}
